# Check Cortisol samples before sending them to the lab

In [11]:
import os
import pandas as pd
import numpy as np
import re

In [2]:
# set root dir
os.chdir(f"{os.getcwd()}/../")
ROOT_DIR = os.getcwd()

In [3]:
# import data
#filename = "BIBO10 Speeksel data FINAL 3-7-2018.xlsx" # this would be original file
# I wanted to modify original file and thus made a copy and work with it instead:
filename = "BIBO10_saliva_03-07-2018_modified.xlsx"
xl = pd.ExcelFile(f"{ROOT_DIR}/data/cortisol/10_years/{filename}")
# one df for each sheet
df_list = [xl.parse(i) for i in [1, 3, 5]]
# define new colnames
colnames_0 = [
    "ID",
    "complete",
    "sick_last_seven_d",
    "sick_notes",
    "medication_last_seven_d",
    "medication_notes",
    "abx_last_seven_d",
    "abx_notes",
    "extra_notes"
]
colnames_1 = [
    "ID", 
    "complete", 
    "date", 
    "time_wakeup", 
    "time_c1", 
    "time_c2", 
    "time_c3", 
    "time_c4", 
    "time_lunch", 
    "time_dinner", 
    "snacks",
    "time_snacks_1",
    "time_snacks_2",
    "time_snacks_3",
    "activity_morning",
    "activity_afternoon",
    "normal_day_question",
    "normal_day_notes",
    "problem_question",
    "problem_notes",
    "notes_editing"
    
]
# clean dfs
for i, df in enumerate(df_list):
    # change colnames
    if i == 0:
        df_list[i].columns = colnames_0
    else:
        df_list[i].columns = colnames_1
    # delete first row
    df_list[i] = df.iloc[1:, :]
    # drop incomplete rows
    df_list[i] = df.loc[df.complete == 1, :]
    # replace 999 by np.nan
    df_list[i] = df_list[i].replace(to_replace = 999, value = np.nan)

# Clean time values
I require pandas timestamp objects. To convert to these I need a specific string format (e.g.) "hh:mm:ss". In the following I check which strings deviate from this format other than the _np.nan_. If multiple strings deviate in the same way, I will write a function. Otherwise I will edit single values in a copy of the excel file. The changed file will be the *BIBO10_saliva_03-07-2018_modified.xlsx* file. To see the file as it was before modification, use the outcommented filename at the top. Then you can see what I modified. Now you only see the np.nan

**Check these at RU:**  
- ID: 231 check at least day 2 to find out why this was mentioned behind C2: (1x, forgot 2d)
- ID: 249 check what 2x means, maybe one samples needs to be disregarded
- ID: 278 same here...
- ID: 362 both days
- ID: 376 What does (1-2) mean behind the time on day 1
- ID: 413 day 1 wakeup time
- ID: 452 did they provide all samples on the indicated days or just those where there is a data?
- ID: 409 the date was noted as 29.02.2017, which does not exist

**Open questions:**  
- ID 234 awoke at soccer. No wakeup time provided, what to do? I set wakeup time to np.nan. But e.g. ID 241 also awoke at soccer but since time provided, I used it.
- if ID 452 (and other IDs) provided some samples at another day, should I keep some samples or will we want to exclude them completely?


**Exlude:**  
- 253: C2 possibly too late
- 259: C1 follow up date
- 448: C2 too late (13:00)

In [4]:
# see markdown text above for explanation
pattern = re.compile(r"^\d\d:\d\d:\d\d$")
day = 1
for df in df_list[1:]:
    for time in ["time_wakeup", "time_c1", "time_c2", "time_c3", "time_c4"]:
        for i, s in enumerate(df.loc[:, time]):
            if not pattern.findall(str(s)):
                print(f"day {day}, {time}, ID: {df.iloc[i, 0]}, string: {s}")
    day += 1

day 1, time_wakeup, ID: 234, string: nan
day 1, time_wakeup, ID: 288, string: nan
day 1, time_wakeup, ID: 345, string: nan
day 1, time_wakeup, ID: 413, string: nan
day 1, time_c1, ID: 224, string: nan
day 1, time_c1, ID: 260, string: nan
day 1, time_c1, ID: 288, string: nan
day 1, time_c1, ID: 314, string: nan
day 1, time_c1, ID: 362, string: nan
day 1, time_c1, ID: 376, string: nan
day 1, time_c1, ID: 436, string: nan
day 1, time_c2, ID: 203, string: nan
day 1, time_c2, ID: 362, string: nan
day 1, time_c2, ID: 376, string: nan
day 1, time_c2, ID: 417, string: nan
day 1, time_c2, ID: 424, string: nan
day 1, time_c3, ID: 203, string: nan
day 1, time_c3, ID: 212, string: nan
day 1, time_c3, ID: 281, string: nan
day 1, time_c3, ID: 356, string: nan
day 1, time_c3, ID: 362, string: nan
day 1, time_c3, ID: 376, string: nan
day 1, time_c3, ID: 417, string: nan
day 1, time_c4, ID: 203, string: nan
day 1, time_c4, ID: 206, string: nan
day 1, time_c4, ID: 220, string: nan
day 1, time_c4, ID: 224, string: nan
day 1, time_c4, ID: 241, string: nan
day 1, time_c4, ID: 244, string: nan
day 1, time_c4, ID: 308, string: nan
day 1, time_c4, ID: 339, string: nan
day 1, time_c4, ID: 345, string: nan
day 1, time_c4, ID: 356, string: nan
day 1, time_c4, ID: 360, string: nan
day 1, time_c4, ID: 362, string: nan
day 1, time_c4, ID: 370, string: nan
day 1, time_c4, ID: 382, string: nan
day 1, time_c4, ID: 400, string: nan
day 1, time_c4, ID: 410, string: nan
day 1, time_c4, ID: 417, string: nan
day 1, time_c4, ID: 433, string: nan
day 2, time_wakeup, ID: 286, string: nan
day 2, time_wakeup, ID: 310, string: nan
day 2, time_wakeup, ID: 421, string: nan
day 2, time_wakeup, ID: 433, string: nan
day 2, time_c1, ID: 259, string: nan
day 2, time_c1, ID: 260, string: nan
day 2, time_c1, ID: 310, string: nan
day 2, time_c1, ID: 362, string: nan
day 2, time_c1, ID: 383, string: nan
day 2, time_c2, ID: 310, string: nan
day 2, time_c2, ID: 360, string: nan
day 2, time_c2, ID: 362, string: nan
day 2, time_c2, ID: 393, string: nan
day 2, time_c2, ID: 417, string: nan
day 2, time_c3, ID: 260, string: nan
day 2, time_c3, ID: 281, string: nan
day 2, time_c3, ID: 310, string: nan
day 2, time_c3, ID: 314, string: nan
day 2, time_c3, ID: 320, string: nan
day 2, time_c3, ID: 362, string: nan
day 2, time_c3, ID: 393, string: nan
day 2, time_c3, ID: 417, string: nan
day 2, time_c3, ID: 456, string: nan
day 2, time_c3, ID: 458, string: nan
day 2, time_c4, ID: 203, string: nan
day 2, time_c4, ID: 226, string: nan
day 2, time_c4, ID: 238, string: nan
day 2, time_c4, ID: 245, string: nan
day 2, time_c4, ID: 264, string: nan
day 2, time_c4, ID: 288, string: nan
day 2, time_c4, ID: 308, string: nan
day 2, time_c4, ID: 310, string: nan
day 2, time_c4, ID: 320, string: nan
day 2, time_c4, ID: 332, string: nan
day 2, time_c4, ID: 345, string: nan
day 2, time_c4, ID: 362, string: nan
day 2, time_c4, ID: 384, string: nan
day 2, time_c4, ID: 393, string: nan
day 2, time_c4, ID: 406, string: nan
day 2, time_c4, ID: 417, string: nan
day 2, time_c4, ID: 421, string: nan
day 2, time_c4, ID: 432, string: nan

In [6]:
# the date of the timestamp object was "today" because the timestring only
# provides hours, minutes, seconds. I get the info from the date column
# and add it for each timestamp. Make sure that date == the date the sample
# was really taken. I print out for which value it did not work:
for dfi in [1, 2]:
    for i, row in enumerate(df_list[dfi].index):
        for col in np.arange(3, 8):
            try:
                year = df_list[dfi].date[row].year
                month = df_list[dfi].date[row].month
                day = df_list[dfi].date[row].day
                df_list[dfi].iloc[i, col] = df_list[dfi].iloc[i, col].replace(year = year, month = month, day = day)
            # does not work for np.nan
            except AttributeError:
               print(df_list[dfi].date[row])

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

# Ready to work with data
Now it should be possible to check if any time falls within a desired time window and define an action if it does not. What we want to check is the following:

## Count value that miss mealtime or measurement time

Number of cases where any measurement time is missing:  
NUmber of cases where any mealtime is missing:  

## Check food
Check *time_wakeup* and *time_c1* and wether there was food intake before the latter. If substantial food intake present, exclude.

## Check times
1. Note time C1 - *time_wake_up*, which should within 15 min but does not excluded (but noted) if not within 15 min.
2. C1 must be $\geq$ 06:00:00 $\leq$ 10:00:00  
3. C2 must be $\geq$ 10:00:00 $\leq$ 12:00:00  
4. C3 must be $\geq$ 14:00:00 $\leq$ 16:00:00  
5. C4 must be $\geq$ 18:00:00 $\leq$ 21:00:00  

## Check dates
The days must be subsequent. Important: Deviations from the date columns are only visible in the notes, not in the datevalues of the times. This was the case in the sheet for some dates but this was not suitable for analyses in any program.

## Check disease/sickness/medication
- check *normal_day_question_*: if not normal (2), read *normal_day_notes*  and exclude if ill or otherwise "disqualified"
- check *sick_last_seven_d* and if yes, read *sick_notes*  
- check *abx_last_seven_d*/*medication_last_seven_d* and exclude if abx started > 2 days of sample taking or if taking medication with systemic action

In [7]:
for df in df_list:
    display(df.head())

,ID,complete,sick_last_seven_d,sick_notes,medication_last_seven_d,medication_notes,abx_last_seven_d,abx_notes,extra_notes
1,201,1.0,2.0,0,2.0,0,2.0,0.0,NaN
2,202,1.0,2.0,0,2.0,0,2.0,0.0,NaN
3,203,1.0,2.0,0,2.0,Multivitamin every morning.,2.0,0.0,NaN
4,204,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,205,1.0,2.0,0,2.0,0,2.0,0.0,NaN

,ID,complete,date,time_wakeup,time_c1,time_c2,time_c3,time_c4,time_lunch,time_dinner,...,time_snacks_1,time_snacks_2,time_snacks_3,activity_morning,activity_afternoon,normal_day_question,normal_day_notes,problem_question,problem_notes,notes_henrik
1,201,1.0,2016-04-30 00:00:00,2016-04-30 07:30:00,2016-04-30 07:50:00,2016-04-30 10:55:00,2016-04-30 15:05:00,2016-04-30 19:00:00,12:00:00,18:00:00,...,17:00:00,15:30:00,0,"IPad , hairdresser","Shopping kitchens for our new home, IPad",1,0,2.0,0,NaN
2,202,1.0,2016-05-12 00:00:00,2016-05-12 08:30:00,2016-05-12 09:30:00,2016-05-12 11:05:00,2016-05-12 15:12:00,2016-05-12 19:00:00,13:40:00,17:45:00,...,11:23:00,16:30:00,0,NaN,NaN,2,Holiday,1.0,"At his father, so I didn't do the saliva sampl...",NaN
3,203,1.0,2016-05-01 00:00:00,2016-05-01 07:45:00,2016-05-01 07:54:00,NaT,NaT,NaT,NaN,19:15:00,...,NaN,NaN,NaN,Soccer,Soccer,2,Holiday,1.0,Hard to do the saliva samples.,NaN
4,204,1.0,2016-08-06 00:00:00,2016-08-06 07:45:00,2016-08-06 08:00:00,2016-08-06 11:30:00,2016-08-06 15:15:00,2016-08-06 20:30:00,13:30:00,18:00:00,...,20:00:00,0,0,"Got up, shopping",Played outside,1,0,2.0,0,NaN
5,205,1.0,2016-09-03 00:00:00,2016-09-03 08:15:00,2016-09-03 08:35:00,2016-09-03 11:00:00,2016-09-03 15:00:00,2016-09-03 19:00:00,13:00:00,17:00:00,...,15:00:00,17:00:00,0,Drawing lessons,Library,1,0,1.0,Day 1-1: unfortunately it fell on the ground.,NaN

,ID,complete,date,time_wakeup,time_c1,time_c2,time_c3,time_c4,time_lunch,time_dinner,...,time_snacks_1,time_snacks_2,time_snacks_3,activity_morning,activity_afternoon,normal_day_question,normal_day_notes,problem_question,problem_notes,notes_henrik
1,201,1.0,2016-05-01 00:00:00,2016-05-01 06:25:00,2016-05-01 06:30:00,2016-05-01 11:05:00,2016-05-01 15:05:00,2016-05-01 19:05:00,14:00:00,18:00:00,...,17:00:00,16:00:00,0,"Played inside, read","I-pad, played",1.0,0,2.0,0,NaN
2,202,1.0,2016-05-15 00:00:00,2016-05-15 09:00:00,2016-05-15 09:20:00,2016-05-15 11:10:00,2016-05-15 15:06:00,2016-05-15 19:05:00,13:29:00,17:20:00,...,13:45:00,14:33:00,15:10:00,NaN,NaN,2.0,Holiday,1.0,"Sample 11:10 fell, used the extra one. / We ke...",NaN
3,203,1.0,2016-05-02 00:00:00,2016-05-02 07:15:00,2016-05-02 07:45:00,2016-05-02 10:48:00,2016-05-02 15:45:00,NaT,13:15:00,16:45:00,...,NaN,NaN,15:15:00,Soccer,"Visit, chilling",2.0,Holiday,1.0,Holiday.,NaN
4,204,1.0,2016-08-07 00:00:00,2016-08-07 07:45:00,2016-08-07 08:00:00,2016-08-07 10:50:00,2016-08-07 15:10:00,2016-08-07 19:00:00,13:00:00,18:00:00,...,11:30:00,14:00:00,0,Visiting grandma,Playing outside,1.0,0,2.0,0,NaN
5,205,1.0,2016-09-04 00:00:00,2016-09-04 08:10:00,2016-09-04 08:30:00,2016-09-04 12:30:00,2016-09-04 15:00:00,2016-09-04 19:00:00,12:30:00,19:00:00,...,14:30:00,0,0,Played at home,Visiting grandpa,1.0,0,2.0,Forgotten second sample at 11:00. I took two s...,NaN

In [5]:
# check normal day for illness (NOTE: In the end I check normal and non-normal day)
# because they also noted diseases if normal == 1
for dfi in [1, 2]:
    df = df_list[dfi]
    print(f"\nDay {dfi}: \n\n")
    for i, row in enumerate(df.index):
        if df.normal_day_question[row] == 2:
            print(f"ID {df.ID[row]}: {df.normal_day_notes[row]}")

# 226 Two disease symptoms
# 245 Food: check times and food interference from (12:30-15:00) due to lot of candy
# 227 Medication: Check type of injection?! (Got his immunotherapy injections.)
# 420 Two disease symptoms: Night before he went to the school party. He feels sick: diarrhea, abdominal pain.

Day 1:


ID 202: Holiday
ID 203: Holiday
ID 207: Holiday (child was at fathers house yesterday)
ID 209: On Saturday he can stay up late till 21:30, normally it's 20:00
ID 220: Not for a Saturday. Normally scouting in the morning, but not this week.
ID 224: Normally soccer game.
ID 226: Still abdominal pain and diarrhea, fair at the village.
ID 231: Exciting for new drum kit, birthday.
ID 238: Stayed up late.
ID 245: We had a birthday party (12:30-15:00), so ate a lot of candy!
ID 257: Normal Saturday, party with class this evening till 23:00.
ID 260: A busy Saturday.
ID 262: Most of the time goes to bed earlier.
ID 264: Normally she's awake at 9:00, not now because of the school camp.
ID 271: Day trip.
ID 272: Holiday, it was very hot.
ID 273: Weekend.
ID 286: Holiday, visit of twins of 3 years old.
ID 288: Much more quiet then normal.
ID 292: Late to bed because of a party.
ID 298: Yesterday we arrived home from holiday at 22:30.
ID 300: Sleepover at grandma.
ID 301: Building huts is only one time a year.
ID 302: Holiday.
ID 310: Birthday sister.
ID 314: Weekend, few activities.
ID 323: No hockey game because of the holiday.
ID 336: Holiday.
ID 337: Birthday party.
ID 340: Amusement park.
ID 343: Holiday, sleepover friend.
ID 349: Sleepover and children's party.
ID 350: Normally we eat at home.
ID 354: Birthday party brother.
ID 355: Exciting.
ID 359: Weekend, children's party.
ID 360: Late in bed so a little bit tired.
ID 366: Day off from school.
ID 383: New years eve, sleepover.
ID 385: Holiday.
ID 387: Holiday.
ID 391: Played more outside because of the snow.
ID 400: She ate more than she does normally. A bit busier than normal.
ID 403: Staff study day.
ID 406: Sister faded, child got scared by it, so we stayed at home.
ID 409: Finales checker games.
ID 421: Sleepover at friend.
ID 422: Sleepover at grandma.
ID 428: Sleepover this weekend, so extra candy and stuff.
ID 433: Holiday.
ID 436: Carnival.
ID 437: Snow.
ID 439: Different from a school day.
ID 448: Normally soccer game.
ID 451: Was weekend and we have quite easy weekend mostly.
ID 452: We were on holiday.
ID 456: Few activities.

Day 2:


ID 202: Holiday
ID 203: Holiday
ID 207: Birthday sister
ID 209: Soccer game, eating at different times
ID 227: Got his immunotherapy injections.
ID 231: Healthy tension for performance.
ID 241: Everything a bit later than normal.
ID 249: Party.
ID 258: Party.
ID 262: Birthday.
ID 264: Birthday.
ID 269: Waking up early because of sports.
ID 273: Weekend.
ID 284: Birthday party. Child got very angry between 17:00-18:30. Is very unusual for him.
ID 287: Sleepover at grandma.
ID 292: Fathers day, different kind of sweets.
ID 295: Birthday party.
ID 301: Three birthday parties at one day.
ID 314: Weekend, visiting The Hague.
ID 320: Birthday.
ID 336: Holiday.
ID 338: Went to the swimming pool.
ID 339: Family day is very special.
ID 340: Celebrated his birthday.
ID 343: Bad weather. Didn't get to play outside.
ID 362: Birthday.
ID 370: Last day newyears eve.
ID 383: Newyears eve.
ID 384: Went for dinner this evening.
ID 385: Holiday.
ID 386: Ice-skating is very special.
ID 388: His rabbit died.
ID 420: Quiet day.
ID 421: Woke up a bit earlier.
ID 422: Birthday party.
ID 424: BIBO home visit.
ID 433: Holiday.
ID 439: No hockey game today.
ID 446: In the weekends we don't eat at scheduled times.
ID 448: Hospital visit.
ID 451: Morning was normal. Afternoon we had a little family celebration for our wedding.
ID 452: Not at home.

In [12]:
# check medication
df = df_list[0]
for i, row in enumerate(df.index):
    if df.medication_last_seven_d[row] == 1:
        print(f"ID {df.ID[row]}: {df.medication_notes[row]}")

# 354 Risperidon 0,5 mg 1 dd. 1 (neuroleptikum)
# for some I am not sure if they are considred systemic. 
# E.g. antihistamines I know can have immune modulatory properties.

ID 227: 1 x per day Xyzal 0,5 mg / 1 x per day 1 inhaler seretide 125.
ID 237: Every morning at breakfast: aerius 2,5 mg (antihistamine) 1 d.d./ Rhinocort nasalspray 1 d.d. inhaler
ID 238: nan
ID 244: Bisolvon (chroomhexodine)
ID 251: Triamcinolon (ointment for eczema) vaselinelanettecreme, Forlax (stool), fluticason (nasalpray).
ID 254: Paracetamol, 500 mg headache because of the heat.
ID 268: Obybutynine tlcl accord 5 mg mo+lunch+forlax, 10 gr in the morning
ID 271: paracetamol  120 mg 3
ID 276: Omega 3 fish oil 1.000 mg p/dag , magnesium citrate 200 mg p/dag (only on workdays)
ID 278: Cozaar, 40 mg
ID 295: Vitamin B12
ID 297: 250 mg paracetamol 17-8-2016
ID 298: Macrogolum 4000 every day 30 gram
ID 317: Affusine ointment and Purol eczema, Ventolin 100 inhaler during sports), 1x per day.
ID 334: 2 days 5 mg methylphenidate, not during samples.
ID 338: Ointment: cetamacogrol 2x/day, 0,5 paracetamol 2x (Sunday, Monday).
ID 340: Melatonin, 2x 3-4 tablets 0,1 mg (drugstore).
ID 347: Nasalspray avamys; allergic to dust mites.
ID 354: Risperidon 0,5 mg 1 dd. 1.
ID 359: nan
ID 360: Melatonin 1 mg.
ID 366: 1 x melatonin 0,2 mg
ID 369: Inhaler.
ID 375: Nasalpray xylo 's In the evening 1x.
ID 385: 1 x Forlax 10 gr / 1x vesicare 5mg
ID 408: Paracetamol 125 mg (12-1-2017)
ID 420: Nasalspray met xylometardine (drugstore).
ID 424: 2 x calcium phosphoricum 'Vita Zouten'
ID 432: Paracetamol.
ID 435: Melatonin 0,2 mg 2 tabletten per dag.
ID 437: Ointment.

In [18]:
# check abx
df = df_list[0]
for i, row in enumerate(df.index):
    if df.abx_last_seven_d[row] == 1:
        print(f"ID {df.ID[row]}: {df.abx_notes[row]}")

# check ID 359 for abx maybe because is not saying anything about how long abx was taken

ID 359: nan

In [82]:
# Note time C1 - time_wake_up, which should within 15 min but does not excluded (but noted) if not within 15 min.
# C1 must be  ≥  06:00:00  ≤  10:00:00
# C2 must be  ≥  10:00:00  ≤  12:00:00
# C3 must be  ≥  14:00:00  ≤  16:00:00
# C4 must be  ≥  18:00:00  ≤  21:00:00

# create note column for timing
df_list[1]["notes_timing"] = df_list[1].notes_henrik.values
df_list[2]["notes_timing"] = df_list[2].notes_henrik.values

def diff_min(end, begin):
    difference = (end.hour * 60 + end.minute)-(begin.hour * 60 + begin.minute)
    return(difference)

for df in df_list[1:]:
    for i, row in enumerate(df.index):
        try:
            difference = diff_min(df.time_c1[row], df.time_wakeup[row])
            if difference > 15:
                df.notes_timing[row] = f"Time between wake up and C1 was {difference}"
            print(difference)
        except AttributeError:
            print(df.time_c1[row], df.time_wakeup[row])

In [87]:
df_list[1].notes_henrik.values

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan,
       '"2x" was noted at 11:00. But no other sample missing. If there indeed are 2x 11, one should be disregarded.',
       nan, nan, nan,
       '10:55/12:30 was changed to 11.30.  Might be 30 minutes too late but  to work with dates I need to put one time.',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan,
       '"2x" was noted at 13:30. But no other sample missing. If there indeed are 2x 11, one should be disregarded.',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan,
       'what did (1-2) mean behind the time??', nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       '11:00/11:55 changed to 11:30', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan,
       'We need to disregard sample 11:00 (C2) because it was 11:00/15:00',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan,
       'Need check if samples provided on subsequent days or mixed days. If subsequent, then samples are fine.',
       nan, nan, nan, nan], dtype=object)

In [72]:
[np.nan for i in range(len(df_list[1].index))]

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]